@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
@theme {
  --color-brand-blue: #003366;
  --color-brand-lightBlue: #0055A4;
  --color-brand-yellow: #FFD700;
  --color-brand-gold: #F4C430;

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-fade-in-up: fadeInUp 0.5s ease-out forwards;
}

body {
  font-family: 'Inter', sans-serif;
}


.form-control {
    @apply  p-3 border border-gray-300 rounded-lg text-gray-800
           bg-white appearance-none cursor-pointer
           focus:outline-none focus:ring-2 focus:ring-brand-lightBlue;
}

.btn{
  @apply font-bold text-lg p-3 rounded-lg hover:bg-brand-gold transition-colors duration-200 shadow-md flex justify-center items-center;
}

@layer components {
  .nav-link {
    @apply px-4 py-2 rounded-lg text-sm font-medium text-gray-300
           transition-all duration-200
           hover:text-white hover:bg-white/10;
  }

  .nav-link-active {
    @apply text-brand-yellow bg-white/10;
  }

    .hero-badge {
    @apply flex flex-col items-center justify-center gap-1
           rounded-xl bg-white/5 px-4 py-4
           text-sm font-semibold text-blue-100
           backdrop-blur transition
           hover:bg-white/10;
  }
}



/*CARDS*/
@layer components {
  .feature-card {
    @apply relative rounded-2xl border border-gray-100 bg-white p-8 text-center
           shadow-sm transition-all duration-300
           hover:-translate-y-1 hover:shadow-xl;
  }

  .feature-icon {
    @apply mx-auto mb-6 flex h-14 w-14 items-center justify-center
           rounded-full bg-brand-blue/5 text-brand-blue;
  }

  .feature-icon svg {
    @apply h-7 w-7 stroke-2;
  }

  .feature-title {
    @apply mb-2 text-lg font-bold text-brand-blue;
  }

  .feature-text {
    @apply text-sm text-gray-600 leading-relaxed;
  }
}


@keyframes slide-left {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

@keyframes fade-in {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.animate-slide-left {
    animation: slide-left 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

.animate-fade-in {
    animation: fade-in 0.3s ease-out;
}